<h1>Shoe: <%= @shoe.name %></h1>

<h2>Price:   $<%= @shoe.price %>0 </h2>
<h2>Stores: </h2>
<% if @shoe.stores.any? %>
  <ul>
    <% @shoe.stores.each() do |store| %>
      <li><a href="/stores/<%= store.id %>"><%= store.name %></a></li>
      <br>
    <% end %>
  </ul>
<% else %>
  <p>There are no stores</p>
<% end %>

<h3>Add a store to a shoe</h3>
<form action='/shoes/<%= @shoe.id %>' method="post">
  <input type="text" name="name" id="name">
  <label for="name">Store Name</label>
  <br>
  <button type="submit">Add Store</button>

<br>
<br>
<br>
<br>
